# FreeRTOS
CONFIG_FREERTOS_HZ=1000

# LVGL
CONFIG_LV_OS_FREERTOS=y
CONFIG_LV_USE_CLIB_MALLOC=y
CONFIG_LV_USE_CLIB_STRING=y
CONFIG_LV_DEF_REFR_PERIOD=15
CONFIG_LV_OBJ_STYLE_CACHE=y

# Compiler
CONFIG_COMPILER_OPTIMIZATION_PERF=y